* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

/* MENU */

.nav-container {
    background: white;
    height: 181px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    height: 70px;
}

nav .logo {
    height: auto;
    margin-top: 35px;
}

nav .logo #logo{
}

nav .nav-items{
    position: relative;
    right:0;
    margin-top: 75px;
}

.nav-items li {
    list-style: none;
    margin-right: 100px;
}

.nav-items li:hover{

}
.nav-items li.nav-item-active {
    background: url('../img/strzalka.png') no-repeat right top;
    padding-right: 15px;
}

.baner {

}
.container {
  display: flex; /* or inline-flex */
}
